<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">

<head th:replace="template :: head">
</head>
<body>
<div class="container">

    <div id="top" th:include="template :: masthead"></div>

    <div id="middle">

        <!-- TODO - Display portfolio -->
        <table>
            <tr>
                <th>NAME</th>
                <th>SHARES</th>
                <th>CURRENT PRICE</th>
                <th>CURRENT VALUE</th>
            </tr>
            <tr th:each="entry : ${holdings}">
                <td th:text="${entry.value.name}"></td>
                <td th:text="${entry.value.shares}"></td>
                <td th:text="${entry.value.currentPrice}"></td>
                <td th:text="${entry.value.totalValue}"></td>
            </tr>
        </table>

        <table>
            <tr>
                <td>CASH</td>
                <td th:text="${cash}"></td>
            </tr>
        </table>

    </div>

    <div th:replace="template :: footer"></div>
</div>
</body>
</html>